// Color palette

$text: #ffffff;
$background: #003244;
$header: #0F4E7B;
$modal: #F0E8E8;
$extra: #31338d;
$border-color: #148e01;
$recipe-card-background: #3b9bc0;


// Typography

$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 16px;