@import "./variables";

.fav-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: $modal;
  border: 2px solid #c80000; // default red
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.2s ease;

  &.liked {
    border-color: $border-color; // green when liked
  }
}
